.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid rgb(54, 9, 231);
  background-color: brown;
  list-style: none;
}

.list li {
  font-size: 18px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: aquamarine;
  color: rgb(0, 63, 0);
}
