.btn {
  padding: 8px 14px;
  font-size: 17px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(11, 46, 223);
  color: white;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.form input {
  padding: 8px 14px;
  font-size: 17px;
  border-radius: 5px;
}

.error {
  border: 2px solid red;
}

.success {
  border: 2px solid green;
}

.textErr {
  color: red;
}

.textSuccess {
  color: green;
}

.errorP {
  opacity: 0;
}
